<div class="container">

  <div class="row">
  <div class="col-md-12">
    <a href="/contacts">Back to Contacts</a>

  </div>

    <div class="col-md-6 col-md-offset-3">



    <img src="http://lorempixel.com/160/160/people/" class="img-circle img-responsive img-thumbnail">

      <h1>
        <%= @contact.first_name %> <%= @contact.last_name %>
      </h1>

      <p>
        <strong>Company name:</strong>
        <%= @contact.company_name %>
      </p>
      <p>
        <strong>Telephone:</strong>
        <%= @contact.telephone %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @contact.email %>
      </p>

      <p>
        <strong>Job title:</strong>
        <%= @contact.job_title %>
      </p>

     <p>
        <strong>Notes:</strong>
        <%= @contact.notes %>

      </p>

<h2>Recent Notes</h2>
        <tbody>
          <% @contact.activities.each do |activity| %>
            <div class="well">
   
          <tr>
           <td><%= activity.id %></td>
           <td><%= activity.activity_title %></td>
           <td><%= activity.description %></td>
           <td><%= activity.activity_type %></td>
           <td><%= activity.date %></td>
           </tr>
         </div >
         <% end %>
       
     

     <%= link_to 'New Activity', new_contact_activity_path(@contact), :class => "btn btn-default btn-block" %>




     <%= link_to 'Edit', edit_contact_path(@contact) %> |
     <%= link_to 'Back', contacts_path %>
   </div>
 </div>  
