<div class="container">

  <div class="row">
  <div class="col-md-12">
    <a href="/contacts">Back to Contacts</a>

  </div>

    <div class="col-md-6 col-md-offset-3 text-center">



    <img src="http://lorempixel.com/160/160/people/" class="img-circle img-responsive img-thumbnail">

      <h1>
        <%= @contact.first_name %> <%= @contact.last_name %>
      </h1>

      <p>
        <strong>Company name:</strong>
        <%= @contact.company_name %>
      </p>
      <p>
        <strong>Telephone:</strong>
        <a href="callto:<%= @contact.telephone %>"><%= @contact.telephone %></a>
      </p>

      <p>
        <strong>Email:</strong>
        <a href="mailto:<%= @contact.email %>"> <%= @contact.email %></a>
      </p>

      <p>
        <strong>Job title:</strong>
        <%= @contact.job_title %>
      </p>

     <p>
        <strong>Notes:</strong>
        <%= @contact.notes %>

      </p>

  </div>

    <div class="col-md-6 col-md-offset-3 text-left">


  

<%= form_for [@contact, @activity] do |f| %>
  
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :description, "New Activity" %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :activity_type %><br>
       <%= f.select :activity_type, "<option>1. Call</option><option>2. Email</option><option>3. Meeting</option><option>4. Website Visit</option>".html_safe, {},  {:class => "form-control" } %> 
  </div>
<br>
    <div class="field" style="display:none">
    <%= f.label :contact_id %><br>
    <%= f.number_field :contact_id, value: @contact.id %>
  </div>

  <div class="actions">
    <%= f.submit "Add Activity", {:class => "btn btn-info"} %>
  </div>
<% end %>


<h2>Recent Activity</h2>
          <% @contact.activities.order("updated_at DESC").each do |activity| %>
            <div class="well">
   
              <b><%= activity.activity_type %></b>
               <td><%= activity.description %></td>
              <hr>
               <i><%= time_ago_in_words(activity.updated_at) %> ago</i>
       
         </div >
         <% end %>
       
    
    <script type="text/javascript">
  $(".well").count();

    </script>


     <%= link_to 'Edit', edit_contact_path(@contact) %> |
     <%= link_to 'Back', contacts_path %>
   </div>
 </div>  
